header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header h1 {
    color: white;
    font: 28pt Arial;
    font-weight: bold;
}
header p {
    color: white;
    font: 22pt Arial;
}

main h2 {
    font: 28pt Arial;
    font-weight: bold;
}
main p {
    font: 18pt Arial;
}
