header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header h1 {
    color: white;
    font: 2.5rem Arial;
    font-weight: bold;
}
header p {
    color: white;
    font: 2rem Arial;
}

main .row {
    margin-top: 33px;
}
main h2 {
    font: 32pt Arial;
    font-weight: bold;
    margin: 33px;
}
main .text {
    padding: 50px;
}
main .text h3 {
    font: 24pt Arial;
    font-weight: bold;
}
main .text p {
    font: 16pt Arial;
}

@media screen and (max-width: 800px) {
    main h2 {
        font: 2.5rem Arial;
        font-weight: bold;
    }
    main .text {
        padding: 50px;
    }
    main .text h3 {
        font: 24pt Arial;
        font-weight: bold;
    }
    main .text p {
        font: 16pt Arial;
    }
}