header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header h1 {
    color: white;
    font: 28pt Arial;
    font-weight: bold;
}
header p {
    color: white;
    font: 22pt Arial;
}

main h2 {
    font: 2rem Arial;
    font-weight: bold;
}
main p {
    font: 1.5rem Arial;
}
main button {
    font: 18pt Arial !important;
}

@media screen and (max-width: 400px) {
    main .row {
        height: auto !important;
        margin: 25px 0px;
    }
}
