*{
    margin: 0;
    padding: 0;
}

header {
    height: 40vh;
    background-image: url("../img/over_onsHead.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
main{
    height: 53vh;
    background-image: url("../img/background_main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}
